{%  load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SkillWorm</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'><link rel="stylesheet" href="{% static 'css/loginregister.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
{% if alert == 0 %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Invalid Credentials!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--Successful registration Alert-->
{% elif alert == 2 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Registration Successful!</strong> Log into your account.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<!--Username Taken Alert-->
{% elif alert == 3 %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Email address exists!</strong> Try logging In or Forgot Password.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{% endif %}
<!-- partial:index.partial.html -->
<h2><a href="/home">SKILLWORM</a></h2>
{% if key == 0 %}
  <div class="container" id="container">
      <div class="form-container sign-up-container">
          <form action="register" method="post">
              {% csrf_token %}
              <h1>Create Account</h1>

              <span>use your email for registration</span>
              <input type="text" name="name" placeholder="Name" />
              <br>
              <input type="email" name="email" placeholder="Email" />
              <br>
              <input type="password" name="password" placeholder="Password" />
              <br>
              <select id="type" name="type" >
                  <option value="" disabled selected hidden style="text-decoration-color: #888888">How would you like to signUp?</option>
                  <option value="Student">Student</option>
                  <option value="Teacher">Teacher</option>
              </select>
              <button>Sign Up</button>
          </form>
      </div>
      <div class="form-container sign-in-container">
          <form action="login" method="post">
              {% csrf_token %}
              <h1>Sign in</h1>

              <span>use your account</span>
              <input type="email" name="email" placeholder="Email" />
              <br>
              <input type="password" name="password" placeholder="Password" />
              <br>
              <a href="#">Forgot your password?</a>
              <button>Sign In</button>
          </form>
      </div>
      <div class="overlay-container">
          <div class="overlay">
              <div class="overlay-panel overlay-left">
                  <h1>Welcome Back!</h1>
                  <p>To keep connected with us please login with your personal info</p>
                  <button class="ghost" id="signIn">Sign In</button>
              </div>

              <div class="overlay-panel overlay-right">
                  <h1>Hello, Friend!</h1>
                  <p>Enter your personal details and start journey with us</p>
                  <button class="ghost" id="signUp">Sign Up</button>
              </div>
          </div>
      </div>
  </div>
{% else %}
    <div class="container" id="container">
      <div class="form-container sign-up-container">
          <form action="login" method="post">
              {% csrf_token %}
              <h1>Sign in</h1>

              <span>use your account</span>
              <input type="email" name="email" placeholder="Email" />
              <br>
              <input type="password" name="password" placeholder="Password" />
              <br>
              <a href="#">Forgot your password?</a>
              <button>Sign In</button>
          </form>
      </div>
      <div class="form-container sign-in-container">
          <form action="register" method="post">
              {% csrf_token %}
              <h1>Create Account</h1>

              <span>use your email for registration</span>
              <input type="text" name="name" placeholder="Name" />
              <br>
              <input type="email" name="email" placeholder="Email" />
              <br>

              <input type="password" name="password" placeholder="Password" />
              <br>
              <select id="type" name="type" >
                  <option value="" disabled selected hidden style="text-decoration-color: #888888">How would you like to signUp?</option>
                  <option value="Student">Student</option>
                  <option value="Teacher">Teacher</option>
              </select>
              <button>Sign Up</button>
          </form>
      </div>
      <div class="overlay-container">
          <div class="overlay">
              <div class="overlay-panel overlay-right">
                  <h1>Welcome Back!</h1>
                  <p>To keep connected with us please login with your personal info</p>
                  <button class="ghost" id="signUp">Sign In</button>
              </div>

              <div class="overlay-panel overlay-left">
                  <h1>Hello, Friend!</h1>
                  <p>Enter your personal details and start journey with us</p>
                  <button class="ghost" id="signIn">Sign Up</button>
              </div>
          </div>
      </div>
  </div>
{% endif %}
<!-- partial -->
  <script  src="{% static 'js/motionlogin.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>